.video-header {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.video-header, .video-header video, .video-header .viewport-header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.video-header video {
  background: brown;
  object-fit: cover;
}
.video-header .viewport-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.4;
}

h1 {
  font-family: "Syncopate", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.1;
  font-size: 3vw;
  text-align: center;
  position: relative;
  bottom: 120px; 
    margin:0,auto;
}
h1 span {
  display: block;
  font-size: 10vw;
  letter-spacing: -0.1rem;
}

h1 span:last-child{
    font-size: 2.5vw;
    letter-spacing: 2.5px;
}

body{
    margin: o;
}

main {
 background: linear-gradient(white,coral);
  position: relative;
  padding: 1rem;
  margin-top: 100vh;
    margin: 0,auto;
  width: auto;
  position: absolute; 
    color: black;
}
main::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  top: -100vh;
}
main p {
  max-width: 600px;
  margin: 1rem auto;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text";
  border-radius: 18px;
  background: #1d1d1d;
  color:white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align:justify;
  cursor: pointer;
  margin: 150px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  width: 340px;
}
.rgb::after {
  content:"";
  background: linear-gradient(45deg,
  #ff0000 0%, 
  #ff9a00 10%,
  #d0de21 20%,
  #4fdc4a 30%, 
  #3fdad8 40%,
  #2fc9e2 50%, 
  #1c7fee 60%, 
  #5f15f2 70%, 
  #ba0cf8 80%, 
  #fb07d9 90%, 
  #ff0000 100%  )
  repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px); /*or z-index */
  animation: rgb 6s linear infinite;
}
@keyframes rgb {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.js-tilt-glare {
  border-radius: 18px;
}
.card-image {
  width: 334px;
    height: 410px;
    position: relative;
    right:34px;
  background: linear-gradient(#fff0 0%,#fff0 60%, #fff0 70%, #1d1d1d 100%),url("images/jay-instagram-post.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 30px;
  transform: translateZ(20px);
  margin-top: 106px;
  position: relative;
  right: 30px;

}
.card-text .date {
  color: rgb(0,255,255);
  font-size:13px;
}
.card-text p {
  color: ghostwhite;
  font-size:14px;
  font-weight: 300;
    position: relative;
    bottom: 20px;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}

.card-text p span{
    color: skyblue;
}

/*card2*/
.card-image.card2 {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url("images/SusQandpups.png");
  background-size: auto;
}
.card-text.card2 .date {
  color: rgb(255, 77, 7);
}


/*card3*/
.card-image.card3 {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),url("images/Kristin77.png");
  background-size:auto;
}
.card-text.card3 .date {
  color: rgb(0, 189, 63);
}

.container-fluid{
    height: 50px;
    position: relative;
}

body {
  margin: 0;
}

#h1{
    
    background-size:auto;
    font-weight: 400;
    font-weight: bold;
    position: relative;
    bottom: 320px;
    width: 258px;
    height: 57px;
    margin: auto;
    border-radius: 10px;
    animation: fadeIn 7s;
}

h3{
   color: black;
    text-align: center;
    position: relative;
    margin: 0,auto;
    bottom: 70px;
    width: auto;
    background-repeat:no-repeat;
}

h5{
    text-align: center;
    position: relative;
    bottom: 35px;
    animation: fadeIn 16s;
}

h5 span:first-child{
    color: seagreen;
    font-weight:700;
    font-size: 35px;
    
}

h5 span:nth-child(2){
    color: coral;
    font-weight: 700;
    font-size: 35px;
}

h5 span:nth-child(3){
    color: coral;
    font-weight: 700;
    font-size: 35px;
    
}

h5 span:last-child{
    text-decoration: underline;
    
}

h6{
    text-align: center;
    font-size: 27px;
    
}

#bottomtext{
    text-align: center;
    margin: auto;
    text-transform: capitalize;
    font-weight: 600;
    position: absolute;
    bottom: 400px;
    left: 130px;
    border: 1px solid coral;
    width: 86%;
    border-radius: 10px;
    background: linear-gradient(coral,lightcoral);
    box-shadow: 4px 4px silver;
    animation: fadeIn 5s;
    
}


/*Footer CSS below:*/

#footer .twitter {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
#footer .linkedin {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -78px 0;
}
#footer .facebook {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -233px 0;
}
#footer .skype {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -156px 0;
}
#footer .flickr {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -310px 0;
}

#foot{
    top: 40px;
    position: relative;
    
}

#footer a {
  height: 56px;
  width: 56px;
  display: inline-block;
}
#footer a:hover {
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.4s ease-out;
}
#footer .twitter:hover {
  background-position: 0 -56px;
}
#footer .facebook:hover {
  background-position: -233px -56px;
}
#footer .skype:hover {
  background-position: -156px -56px;
}
#footer .linkedin:hover {
  background-position: -78px -56px;
}
#footer .flickr:hover {
  background-position: -310px -56px;
}
.bg-dark-1{
  background-color: #FF3CAC;
background-image: linear-gradient(225deg, #e97142 0%, #784BA0 50%, #2B86C5 100%);
 
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}

#section1{
    background-color: black;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 30px;
}

#paws{
    height: 0px;
    position: relative;
    bottom: 71px;
}
